<nb-card accent="info" *ngIf="post.typePost=='PostAnnonce'">
    <nb-card-body>

    <nb-user size="large"
            [picture]="post.user.imgProfile"
             [name]="post.user.nom"
             [title]="post.user.email"
             shape="semi-round">
    </nb-user>
  </nb-card-body>
    <nb-card-body>
      <div class="item text-heading">
        <div>
          <h5 class="text-heading">{{post.titlePost}}</h5>
          <br>
          <div>
            {{(readMore) ? post.post : post.post | slice:0:20}} <span *ngIf="!readMore"><a *ngIf="post.post.length >= 20">...</a></span>
            <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true"><a *ngIf="post.post.length >= 20">[Read More]</a></a>
          </div>
          <br>
          <nb-flip-card>
            <nb-card-front>
              <nb-card accent="info">
                <nb-card-body>
                  <figure>
                    <blockquote class="blockquote">
                      <p>Path for trip:</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      From : <cite title="Source Title">{{post.from}}</cite>
                    </figcaption>
                    <figcaption class="blockquote-footer">
                      To : <cite title="Source Title">{{post.to}}</cite>
                    </figcaption>
                  </figure>
                  <figure>
                    <blockquote class="blockquote">
                      <p>Date trip:</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                      Date trip : <cite title="Source Title">{{post.dateTripe}}</cite>
                    </figcaption>
                  </figure>
                </nb-card-body>
              </nb-card>
            </nb-card-front>
            <nb-card-back>
              <nb-card>
                <nb-card-body>
                  <button nbButton fullWidth shape="semi-round" status="info" (click)="open()">Show Path for trip on maps</button>
                </nb-card-body>
              </nb-card>
            </nb-card-back>
          </nb-flip-card>
        </div>
      </div>
      <br>
        <img *ngFor="let photo of post.Images" [src]="photo" class="rounded float-left" alt="...">
    </nb-card-body>
    <nb-card-footer>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-outline-info">Join</button>
          <button type="button" (click)="toggle2()" class="btn btn-outline-info">Joins</button>
          <button type="button" (click)="toggle()" class="btn btn-outline-info">
            <nb-icon icon="chatbubble-outline" status="info"></nb-icon>
            Comments
          </button>
        </div>
      <nb-accordion>
          <nb-accordion-item #item>
            <nb-accordion-item-body>
              <nb-card size="small">
                  <nb-list>
                    <nb-list-item *ngFor="let user of users">
                      <nb-user [name]="user.name" [title]="user.title">
                      </nb-user>
                    </nb-list-item>
                  </nb-list>
              </nb-card>
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item #item2>
              <nb-accordion-item-body>
                  <nb-user *ngFor="let user of post.affiliateDrivers" 
                      [picture]="user.imgProfile"
                      size="large"
                      [name]="user.nom">
                  </nb-user>
              </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
  </nb-card-footer>
  </nb-card>
  
  <nb-card accent="danger" *ngIf="post.typePost=='PostSample'">
    <nb-card-body>

    <nb-user size="large"
            [picture]="post.user.imgProfile"
             [name]="post.user.nom"
             [title]="post.user.email"
             shape="semi-round">
    </nb-user>

  </nb-card-body>
    <nb-card-body>
        {{post.post}}.
        <br>
        <img *ngFor="let photo of post.Images" [src]="photo" class="rounded float-left" alt="...">
    </nb-card-body>
    <nb-card-footer>
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-danger">
                <!-- <nb-icon icon="heart-outline" status="primary"></nb-icon>
                <nb-icon icon="heart-outline" status="danger"></nb-icon> -->
                Like
            </button>
            <button type="button" (click)="toggle2()" class="btn btn-outline-danger">interested</button>
            <button type="button" (click)="toggle()" class="btn btn-outline-danger">
                <nb-icon icon="chatbubble-outline" status="danger"></nb-icon>
                Comments
            </button>
          </div>
        <nb-accordion>
            <nb-accordion-item #item>
              <nb-accordion-item-body>
                <nb-card size="small">
                    <nb-list>
                      <nb-list-item *ngFor="let user of users">
                        <nb-user [name]="user.name" [title]="user.title">
                        </nb-user>
                      </nb-list-item>
                    </nb-list>
                </nb-card>
              </nb-accordion-item-body>
            </nb-accordion-item>
            <nb-accordion-item #item2>
                <nb-accordion-item-body>
                    <nb-user *ngFor="let user of post.affiliateDrivers" 
                        [picture]="user.imgProfile"
                        size="large"
                        [name]="user.nom">
                    </nb-user>
                </nb-accordion-item-body>
              </nb-accordion-item>
          </nb-accordion>
    </nb-card-footer>
  </nb-card>