.form-inline [fullWidth] {
    flex: 1;
  }
  
  .form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
  }
  
  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }
  .ButtonSend{
    margin-bottom: 5px;
  }

.margineTaille
{
  margin:4px;
}

  
#map {
  height: 400px;
  width: 880px;
  margin: auto;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

div.scrollmenu {
  overflow         : auto;
  white-space      : nowrap;
}

div.scrollmenu .thumbnail {
  display         : inline-block;
  color           : white;
  padding         : 3px;
}

.new-button {
  display: inline-block;
  padding: 8px 12px; 
  cursor: pointer;
  border-radius: 4px;
  background-color: #9c27b0;
  font-size: 16px;
  color: #fff;
}
input[type="file"] {
position: absolute;
z-index: -1;
top: 6px;
left: 0;
font-size: 15px;
color: rgb(153,153,153);
}